.Rproj.user
.Rhistory
.RData
.Ruserdata
exploreParameterSpaceNoBG.stashed.R
exploreParameterSpaceNoBGasus.R
Fig2_20201216.png
Fig2_WO_20201216.png
Fig3_20201216.png
Fig4_20201216.png
Fig5_20201216.png
genderReapplyDiffs_ModelAndFigs.R
gridPctF20200924.png
msDraft202011.pdf
ORspace20201220.PNG
panel.3.8.png
paramInterp.PNG
paramInterp1x1_20220331.PNG
paramInterp2x2_20220331.PNG
paramInterp2x2_20220406.PNG
paramInterp2x2_20220427.PNG
paramInterp3x1_20220331.PNG
paramInterp3x1_20220405.PNG
paramInterp3x1_20220427.PNG
paramInterp3x1_20220502.PNG
paramSpaceRel20210602.png
plotlyPctF_5by5.png
appendix_files/figure-docx/unnamed-chunk-5-1.png
appendix_files/figure-docx/unnamed-chunk-6-1.png
appendix_files/figure-docx/unnamed-chunk-8-1.png
appendix_files/figure-docx/unnamed-chunk-9-1.png
genderReapplyDiffs_ModelAndFigs.R
genderReapplyDiffs_ModelAndFigs.R
